################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderManagement/OrderManagement/bin/Debug/net6.0
/OrderManagement/OrderManagement/obj/Debug/net6.0
/OrderManagement/.vs/OrderManagement/config
/OrderManagement/.vs/OrderManagement/DesignTimeBuild
